<% @inhabitants.each do |inhabitant| %>
  <p>Name: <%= inhabitant.name %></p>
  <p>Age: <%= inhabitant.age %></p>
  <p>Married: <%= inhabitant.married %></p>
  <p>Role: <%= inhabitant.role %></p>
<% end %>