<h2>All Inhabitants</h1>
<ul>
  <% @inhabitants.each do |inhabitant| %>
    <h3>Name: <%= inhabitant.name %></h3>
    <li>Age: <%= inhabitant.age %></li>
    <li>Married: <%= inhabitant.married %></li>
    <li>Role: <%= inhabitant.role %></li>
  <% end %>
</ul>